body {
    background-color: antiquewhite;
}

#info {
    font-size: 1em;
    font-weight: bold;
}

table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}

table th {
    text-align: center;
}

#tabla {
    background-color: lightsteelblue;
    width:100%;
}

#main {
    background-position: center;
}

footer {
    display: none;
}

header {
    display: none;
}